<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {{ CSS.push('less/core.less') }}
    {{ CSS.push('less/capapp.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {# {{ JS.push('js/lib/cross-storage-client.js') }} #}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    <a class="sr-only" href="#content">Skip To Content</a>

    {% block nav %}
    <header id="top" role="banner">
        <div class="block">
            <div id="header-container" class="container">
            
                <a href="/news"><img id="news-logo" src="http://www.capradio.org/images/nav/CapRadioNewsLogo.png"/></a>

                <!-- <a class="nav-btn" id="nav-open-btn" href="#nav"><img src="http://www.capradio.org/images/nav/menu.png" /></a> -->

                <div style="width:500px; float:right;" class="visible-lg">
                  <ul class="header-nav">
                     <li><a class="donate" href="https://community.capradio.org/monthly-evergreen-donation" onclick="ga('send', 'event', 'Link', 'Click', 'donateheader');"><img src="http://www.capradio.org/images/nav/donate.png" /> donate</a></li>
                     <li><a class="listen" href="http://player.capradio.org" target="_blank"><img src="http://www.capradio.org/images/nav/listen.png" /> listen live</a></li>
                  </ul>
                </div>
                <div style="width:500px; float:right;" class="visible-md">
                  <ul class="header-nav">
                    <li><a class="donate" href="https://community.capradio.org/monthly-evergreen-donation" onclick="ga('send', 'event', 'Link', 'Click', 'donateheader');"><img src="http://www.capradio.org/images/nav/donate.png" /> donate</a></li>
                    <li><a class="listen" href="http://player.capradio.org" target="_blank"><img src="http://www.capradio.org/images/nav/listen.png" /> listen live</a></li>
                  </ul>
                </div>
            </div>  
         </div>
    </header>
    {% endblock nav %}

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <div id="footer-bottom">
      <div class="container">
        <ul class="logos hidden-xs">
            <li class="cpb"><a target="_blank" title="Corporation for Public Broadcasting" href="http://www.cpb.org/"></a></li>
            <li class="apm"><a target="_blank" title="American Public Media" href="http://www.americanpublicmedia.org/"></a></li>
            <li class="pri"><a target="_blank" title="Public Radio International" href="http://www.pri.org/"></a></li>
            <li class="npr"><a target="_blank" title="National Public Radio" href="http://www.npr.org/"></a></li>
            <li class="crn"><a target="_blank" title="Capital Public Radio Network" href="http://capradionetwork.org"></a></li>
            <li class="csus"><a target="_blank" title="California State University, Sacramento" href="http://www.csus.edu"></a></li>
        </ul> <!-- .logos -->

          <p>Capital Public Radio stations are licensed to California State University, Sacramento. &#169; 2017, Capital Public Radio. All Rights Reserved. <a class="privacy" href="/privacy">Privacy Policy</a></p>

      </div>
    </div>
    {% endblock footer %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>